.App {
  text-align: center;
}

.App {
  width: 70%;
  margin: auto;
  background-color: hsl(135, 3%, 70%);
}

div #bioBox {
  width: 88%;
  row-gap: 20px;
  column-gap: 10px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div #bioInfo {
  width: 145px;
  margin: auto;
  font-size: 16px;
  color: whitesmoke;
}
div #bioCard {
  width: 170px;
  height: 250px;

  flex-direction: column;
  margin: 5px;
  background-color: hsla(160, 1%, 59%, 0.712);
  display: flex;
  justify-content: flex-start;
}

div #usersCont {
  width: 88%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
}

#usersCont ul {
  width: 80%;
  list-style-type: square;
}
#usersCont li {
  margin-left: 25px;
  text-align: left;
}

div #albCont {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#albCont ul {
  width: 80%;
  margin: auto;
  list-style-type: square;
}
#albCont li {
  font-size: 15px;
  text-align: left;
}
